/*------------------------------------*\
    #SITE-HEADER
\*------------------------------------*/

/**
 * Styling for the 'Good Living' site header.
 */

/*header*/.#{$sagovau-namespace}site-header {
    @extend %#{$sagovau-namespace}justify;
    height:     6.5 * $sagovau-spacing-unit-base;
    padding: $sagovau-spacing-unit-base;
}

    /**
     * 1. Use inline-block so the items display from left to right.
     *
     * 2. Remove any unwanted space below the items caused by inline-block.
     *
     * 3. Reverse the margins on right-aligned groups.
     */

    .#{$sagovau-namespace}site-header__item {
        display:        inline-block;   /* [1] */
        max-height:     3 * $sagovau-spacing-unit-base;
        vertical-align: middle;    /* [2] */
    }

    // Hide from print and as the screen shrinks.

    .#{$sagovau-namespace}site-header__item--social {
        @extend %#{$sagovau-namespace}no-print;
        display:            none;

        @include media-query(medium-and-up) {
            display:        inline-block;
        }
    }

    .#{$sagovau-namespace}site-header__item--partner-logos {
        display:            none;

        @media print {
            display:        inline-block;
        }

        @include media-query(huge) {
            display:        inline-block;
        }
    }

    // Size the menu icon appropriately, hide from print and browsers without
    // JavaScript enabled.

    /*button*/.#{$sagovau-namespace}site-header__item--menu {
        @extend %#{$sagovau-namespace}no-print;
        @extend %#{$sagovau-namespace}js-only;
        background: transparent;
        border:     none;
        height:     2 * $sagovau-spacing-unit-base;
        margin-top: $sagovau-spacing-unit-base--small;
        padding:    0;
        width:      2 * $sagovau-spacing-unit-base;
    }

    // Make sure partner logos are spaced appropriately

    /*img*/.#{$sagovau-namespace}site-header__item--partner-logo {
        max-height:         2 * $sagovau-spacing-unit-base;

        & + & {
            margin-left:    $sagovau-spacing-unit-base;
        }
    }
