/*------------------------------------*\
    #FOOTER
\*------------------------------------*/

/**
 * Styling for the 'Good Living' website footer that is not
 * covered anywhere else.
 */

/**
 * Add padding to the sides of the footer as the screen size increased. This is 
 * offset by the reduction in padding on the .footer__item elements.
 */
 
.#{$sagovau-namespace}footer {
    @extend %#{$sagovau-namespace}no-print;
    padding:        $sagovau-spacing-unit-base 0;
    
    @include media-query(medium-and-up) {
        padding: $sagovau-spacing-unit-base;
    }
    
}
    
    /**
     * Centre-align the content on small screens; equally space it on larger 
     * ones.
     */
    
    .#{$sagovau-namespace}footer__content {
        @extend %#{$sagovau-namespace}justify;  // Note: creates additional space at bottom of element
        text-align:     center;
        
        @include media-query(medium-and-up) {
            text-align: justify;
        }
    }
        /**
         * 1. Make sure items are padded when they're centre-aligned.
         */
        
        .#{$sagovau-namespace}footer__item {
            color:          $sagovau-color-text-reverse;
            margin:         0 $sagovau-spacing-unit-base--small $sagovau-spacing-unit-base ;  /* [1] */
            text-align:     left;
            vertical-align: top;
            
            @include media-query(medium-and-up) {
                margin:     0; /* [1] */
            }
            
        }
        
        // Make the footer text smaller and only display it on big screens
        
        .#{$sagovau-namespace}footer__item--text {
            display:    none;
            @include inuit-font-size($sagovau-font-size-base * 0.9);
            
            @include media-query(huge) {
                display:    inline-block;
            }
        
        }
        
        /**
         * 1. Add some additional padding to the partner logos when they're 
         *    centre-aligned to compensate for the white space in the image.
         */
        
        .#{$sagovau-namespace}footer__item--partner-logos {
            padding-right:  0;
        }