/*------------------------------------*\
    #SPECIFIC SETTINGS
\*------------------------------------*/

/**
 * Site settings that have specific uses, such as controlling which classes
 * are output or the design of a particular object or component.
 **/

// Import the series settings

@import "dewnr-bedrock/sass/_settings.specific.scss";





/* == BUTTON == */

$sagovau-enable-button--small:              true;
$sagovau-enable-button--block:              true;




/* == BLOCKQUOTE == */

$sagovau-blockquote-use-brand-secondary:    true;


/* == FONTS == */

$sagovau-fonts-highlight-letter-spacing:    -0.02em;



/* == HEADINGS == */

$sagovau-h1-settings: (
    color:          $sagovau-color-brand,
    font-family:    $sagovau-font-family-highlight,
    font-size:      2 * $sagovau-line-height-base,
    font-weight:    bold
);
$sagovau-h2-settings: (
    color:          $sagovau-color-brand,
    font-family:    $sagovau-font-family-highlight,
    font-size:      $sagovau-line-height-base,
    font-weight:    bold
);
$sagovau-h3-settings: (
    color:          $sagovau-color-brand,
    font-family:    $sagovau-font-family-highlight,
    font-size:      $sagovau-font-size-base--large,
    font-weight:    bold
);
$sagovau-h4-settings: (
    color:          $sagovau-color-brand,
    font-family:    $sagovau-font-family-highlight,
    font-size:      $sagovau-font-size-base,
    font-weight:    bold
);
$sagovau-h5-settings: (
    color:          $sagovau-color-brand,
    font-size:      $sagovau-font-size-base,
    font-weight:    bold
);
$sagovau-h6-settings: (
    font-size:      $sagovau-font-size-base,
    font-weight:    bold
);


/* == PAGE == */

$sagovau-color-border-hr:               $sagovau-color-brand-secondary--light;


/* == OWL-CAROUSEL == */

$sagovau-owl-carousel-enable-stage-shadow:  true;


/* == WRAPPER == */

$sagovau-enable-wrapper--ph:                       true;
$sagovau-enable-wrapper--ph-small:                 true;
$sagovau-enable-wrapper--large-and-up-ph-small:    true;


/* == COLOR-SCHEMES == */

$sagovau-enable-color-scheme--brand-reverse:             true;
$sagovau-enable-color-scheme--brand-secondary-reverse:   true;
