/*------------------------------------*\
    #OWL-CAROUSEL
\*------------------------------------*/

/**
 * Additional styling for the Owl Carousel plugin - see
 *
 * Note that these class names are set by the plugin, and do not conform to the
 * BEM-like naming structure used elsewhere on the site.
 */

$sagovau-owl-carousel-enable-stage-shadow:  false !default;
$sagovau-owl-carousel-stage-shadow-color:   black !default;
$sagovau-owl-carousel-stage-shadow-width:   2px !default;
$sagovau-owl-carousel-stage-shadow-spread:  $sagovau-spacing-unit-base--small !default;


/**
 * Carousel
 *
 * Use the "loading" variation in conjunction with a spinner as this is
 * dynamically loaded content.
 *
 * 1. Make sure none of the content is displayed until loading is complete. Use
 *    visibility instead of display to allow transitions.
 *
 * 2. Make sure the container has height. Ideally this would match the actual
 *    height, but this can't be guaranteed until after the content has loaded.
 *
 * 3. Set max-height to match the height of the loading container.
 *
 * 4. Set a large max-height value and transition so there is a smooth increase
 *    in height. This has to be done with max-height, as the target height is
 *    auto.
 *
 * 5. Create smooth transition between transparent content (when loading) and
 *    opaque content.
 *
 * 6. Ensure the content doesn't overflow during transition.
 */

.#{$sagovau-namespace}carousel {
    margin-bottom:      $sagovau-spacing-unit-base;
    max-height: 9999px; /* [4] */
    opacity: 1;    /* [5] */
    overflow: hidden; /* [6] */
    transition: background-color $sagovau-transition-time, max-height $sagovau-transition-time;    /* [4] */

    * {
        opacity: 1;    /* [5] */
        transition: opacity $sagovau-transition-time;    /* [5] */
    }
}

.#{$sagovau-namespace}carousel--loading {
    $height: 10 * $sagovau-spacing-unit-base; /* [2] */
    background-color: $sagovau-color-brand-secondary--light;
    height: $height;  /* [2] */
    max-height: $height;  /* [3] */

    * {
        opacity: 0;    /* [5] */
        visibility: hidden;  /* [1] */
    }
}





@import "../includes/owl-carousel/assets/_owl.carousel.scss";

/**
 * 1. Override -webkit-backface-visibility: hidden, as it's buggy and only
 *    required for 3D transformation.
 */

.owl-carousel .owl-item {
    -webkit-backface-visibility: visible;   /* [1] */
}


/**
 * 1. Remove padding from carousel items and add it to container to make sure
 *    tap targets are sufficiently spaced.
 *
 * 2. Add conditional styling to the dots for touch devices.
 *
 * 3. Add shadows to the edges of the owl-stage, if required
 */

.owl-stage-outer {
    @extend %margin-bottom;     /* [1] */

    @if $sagovau-owl-carousel-enable-stage-shadow == true {

        &::before, &::after {   /* [3] */
            bottom:     0;
            // box-shadow: 0 0 $sagovau-owl-carousel-stage-shadow-spread $sagovau-owl-carousel-stage-shadow-color;
            content:    "";
            display:    block;
            position:   absolute;
            top:        0;
            width:      $sagovau-owl-carousel-stage-shadow-width;
            z-index:    1;
        }

        &::before {  /* [3] */
            left:   -$sagovau-owl-carousel-stage-shadow-width;
        }

        &::after {  /* [3] */
            right:  -$sagovau-owl-carousel-stage-shadow-width;
        }

    }

}

.owl-item>* {
    margin-bottom: 0;   /* [1] */
}


.owl-dots {
    height:         $sagovau-spacing-unit-base;
    text-align:     center;
    width:          100%;
}

    .owl-dot {
        background-color:       $sagovau-color-brand--light;
        border-radius:          50%;
        display:                inline-block;
        @include rem("height", 1);
        @include rem("width", 1);

        .touch & {
            @include rem("height", 1.5);    /* [2] */
            @include rem("width", 1.5);     /* [2] */
            border: 4px $sagovau-color-background-base solid;
        }

        // Add margins to everything but the first element

        & + & {
            @include rem("margin-left", 1);

            // Make the margins wider if the device has touch capabilities
            // (Requires Modernizr)

            .touch & {
                @include rem("margin-left", 1.5);   /* [2] */
            }

        }

        &.active {
            background-color:   $sagovau-color-brand;
        }

    }
